<ion-view view-title="About us">
    <ion-content class="has-footer">
        <ion-list>
<div class="about padding noti-detail">
    <h4 class="text-center">About us</h4>
    <h5>We are an NGO established on October 2, 1968, working for a better tomorrow.  We are currently in our 48<sup>th</sup> year of rendering of social welfare activities.</h5>
    <p>We currently run a number of social welfare activities successfully; they include Blood Donation Camps (thrice a year), Eye Donation (pan Mumbai), Right to Information Movement (pan Mumbai), Book Bank for needy students and Personality Development & Grooming Summer Camps for Youth.</p>
     <h5> Brief Details of our activities are as follows :</h5>
     <ul>
       <li>
         We started our activities with managing Book Bank of Shri K.V.O.S. Jain Mahajan whereby we help students by lending them school text books. Today every year more than 1000 students are beneficiaries of this Book Bank.
       </li>
       <li>Conducting Yuvraj Eye donation Movement all over Mumbai since 1995, have collected more than 14000 Eye Balls till date.</li>
       <li>Providing 11 Right to information Centers (RTI Centers) for helping people to solve their problem with Govt and Semi-Govt Departments.</li>
       <li>Distributing Eatables/Fruits daily to patients and/or their relatives in Wadia Children, Tata centre, KEM, and Nair Hospitals.</li>
       <li>Arranging various Entertainment Programmes like One-day picnic, Baldin party, Movies and Shows etc for Cancer Patients.</li>
     </ul>
     <h5>Blood Donation :</h5>
   <p>Since 1981, TMM has regularly been educating the society on the importance of voluntary blood donation and has been motivating healthy people to donate blood.  “No human should die just for want of blood, a vital fluid having no substitute” – has been the motto behind this education.  From 1981 to October 2015, in 85 camps, we have been instrumental in collecting more than 1,21,000 units of blood.  At present, Blood Donation Camps are conducted thrice a year at 5 Locations across Mumbai, Thane & Navi Mumbai.  TMM one of the leading NGOs promoting voluntary blood donation and has the distinction of being the only social organization of Mumbai collecting an average of 3,500 blood units in a single day’s camp, that is, over 10,500 units annually. </p>
      <p>TMM strives to ensure that the blood collected is distributed across a whole spectrum of Blood Banks covering all locations, including Government, Municipal, Trust run & Private Blood Banks.</p>
      <p>TMM also makes it a point to ensure that that Blood Banks that derive components of blood, like platelets, packed Cells, plasma, etc. Are adequately stocked with supplies of blood.</p>

</div>
        </ion-list>
    </ion-content>
</ion-view>
