<ion-view view-title="Activity">

    <ion-content class="has-footer">
<div class="noti-list pads">
            <div class="list" ng-repeat="noti in notification">

                <a class="item item-avatar" ui-sref="app.actdetail" >
                    <div class="noti-img act-img" ng-style="{'background-image':'url({{noti.image}})'}"></div>
                     <span class="span">November 6, 2001 5:00PM</span>
                    <h2>{{noti.title}}</h2>
                    
                   
                </a>

            </div>
        </div>
    </ion-content>
</ion-view>