<ion-view view-title="Contact us">
    <ion-content class="has-footer">
        <ion-list>
            <div class="padding20">
                <h3>Contact us</h3>
                <div class="con">
                  <h4>Address:</h4>
                  <p>C/o. Gada & Haria, </p>
                  <p>5, Framroz Court, 2nd Fl.</p>
                  <p>Dadasaheb Phalke Road,Dadar(C.R.) </p>
                  <p>Mumbai- 400014  </p>
                  <p>Kantilal D. Gada Mobile:- 9869548443</p>
                  <p>Email:- info@thetmm.org</p>
                </div>
                <p class="font-chng mt30">Feel Free To contact us for any inqueries by filling out the form below.</p>
                <div class="forms custom-border">
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">Email</span>
                            <input type="email">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Subject</span>
                            <input type="text">
                        </label>
                        <label class="item item-input" style="display: block;border-bottom:none;">
                            <span class="input-label">Message</span>
                            <textarea rows="6" cols="30"></textarea>
                        </label>
                    </div>
                </div>
                <div class="login-footer m40 text-center">
                    <button class="button primary-btn button-positive" ng-click="showSuccess()">
                        Submit
                    </button>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
