<ion-view view-title="Donate Now">

    <ion-content >
        <div class="video m40" >
            <div class="text-center">
                <h4 style="color:#E62739">Fill Your Amount</h4>
            </div>
            <div class="login-form padding regi-user">
                <div class="list login-user custom-border">
                    <label class="item item-input">
                        <input type="text" placeholder="Donar Id">
                    </label>
                    <label class="item item-input" class="nbtp">
                        <input type="number" placeholder="Enter Amount">
                    </label>

                </div>
                <div class="text-center m12">
                    <button class="button primary-btn button-positive">
                        Submit
                    </button>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
