<ion-view view-title="Emergency Donation Requests">
    <ion-content class="has-footer">
        <div class="noti-list pclass">
            <div class="list" ng-repeat="noti in notification">

                <a class="item item-avatar" href="#">
                    <div class="noti-img" ng-style="{'background-image':'url({{noti.image}})'}"></div>
                    <h2>{{noti.title}}</h2>
                 <p><i class="ln-map-marker"></i>M.G Road, Ghatkoper(E)</p>
                 <p><i class="ln-clock3"></i>Sun, 13<sup>th</sup> (10:00AM - 4:00PM)</p>
                 <p><i class="ln-iphone"></i>+91 980-023-2222</p>
                 <div class="m12">
                     <button class="button button-small button-assertive sm-btn">Accept</button>
                 <button class="button button-small button-assertive sm-btn">Reject</button>
                 </div>

                </a>

            </div>
        </div>

    </ion-content>
</ion-view>
