<ion-view view-title="Add Family Member">
    <ion-content class="has-footer">
        <ion-list>
            <div class="f-member m40 text-center">
                <figure>
                    <div class="user-back" ng-style="{'background-image':'url(img/user1.png)'}" style="background-image: url(http://localhost:8100/img/user1.png);">

                    </div>
                    <figcaption>
                        <h5>Sohan Honakeri</h5></figcaption>
                </figure>
                <div class="f-title m40">
                    <h5 class="marzero">Add Your Family Members</h5>
                </div>
                <div class="login-form padding regi-user bord">
                    <div class="list login-user">
                        <label class="item item-input">
                            <input type="text" placeholder="Member Name">
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label" style="    padding: 7px 17px 7px 0px;">
                                Relation
                            </div>
                            <select>
                                <option selected>Mother</option>
                                <option>Father</option>
                                <option>Son</option>
                                <option>Wife</option>
                            </select>
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Donor Id">
                        </label>

                    </div>
                    <button class="button primary-btn button-positive">
                        Request an invite
                    </button>
                </div>
                <div class="m40">
                    <h5 class="marzero">Members</h5>
                    <div class="row m12">
                        <div class="col col-25" ng-repeat="mem in member track by $index">
                            <div class="m-list">
                                <div class="user-back h-w" ng-style="{'background-image':'url({{mem.image}})'}">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
        </ion-list>
    </ion-content>
</ion-view>
