<ion-view ng-controller="LoginCtrl">
    <ion-content >
        <div class="pop text-center" >
            <div class="popup-head">
                <h4>Forgot Password</h4>
            </div>
            <div class="popup-body bor">
               <p>Enter Your Email id</p>
                <input type="email" placeholder="Email id">
                
         </div>
 <button class="button button-small button-assertive sm-btn">Send</button>
                 <button class="button button-small button-assertive sm-btn" ng-click="closPop()">Cancel</button>
        </div>
    </ion-content>
</ion-view>