<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-positive" align-title="center">
      <div class="buttons button-left" style="position:absolute">
          <button class="button button-icon ion-navicon no-hide" menu-toggle="left">
          </button>
      </div>
    <img src="img/menu.png" style="height:35px;margin:0 auto;">

  </ion-header-bar>
   <ion-content class="par has-footer">
      <div class="" ng-if="slides.length>0">
         <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true" slide-interval="2000">
            <ion-slide ng-repeat="slid in slides">
               <img ng-src="{{slid|uploadpath}}" class="full-image">
            </ion-slide>
         </ion-slide-box>
      </div>
      <div class="noti">
         <div class="padding text-center">
            <h4 class="h4" ng-repeat="q in head">" {{q.qoute}} "</h4>
         </div>
         <div class="item item-divider">
            {{currentDate|date:"fullDate"}}
         </div>
      </div>
      <div class="noti-list">
         <div class="list" ng-repeat="noti in notification">
            <a class="item item-avatar" ui-sref="app.notidetail({id:noti._id})">
               <div class="noti-img" ng-style="{'background-image':'url({{noti.image|uploadpath}})'}"></div>
               <h2>{{noti.title}}</h2>
               <p>{{noti.content}}</p>
               <span class="span"><i class="ln-clock3"></i>{{noti.timestamp|timeago}}</span>
            </a>
         </div>
      </div>
   </ion-content>
</ion-view>
