<ion-view view-title="Home">
    <ion-content delegate-handle="contentScroll" on-scroll="onContentScroll()" header-shrink scroll-event-interval="5" class="par has-footer">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" class="map">
            <ion-slide ng-repeat="slid in slider">
                <img ng-src="{{slid.image}}" class="full-image">
            </ion-slide>

        </ion-slide-box>
       
        <div class="noti">
             <div class="padding text-center">
            <h4 class="h4" ng-repeat="q in head">" {{q.qoute}} "</h4>
        </div>
            <div class="item item-divider">
                Monday, feb 8, 2001
            </div>
        </div>
        <div class="noti-list">
            <div class="list" ng-repeat="noti in notification">

                <a class="item item-avatar" ui-sref="app.notidetail" >
                    <div class="noti-img" ng-style="{'background-image':'url({{noti.image}})'}"></div>
                    <h2>{{noti.title}}</h2>
                    <p>{{noti.desc}}</p>
                    <span class="span"><i class="ln-clock3"></i>2 Days ago</span>
                </a>

            </div>
        </div>


    </ion-content>

</ion-view>