<ion-view view-title="Hospital">
  <ion-content>
  <div class="hospital">
      <div class="hoback" ng-style="{'background-image':'url(../img/hospital/1.jpg)'}">
      <div class="bg-layer bg-black"></div>
<div class="hos-name">
          <h4>Neque porro quisquam</h4>
          <p>221 Baker Street</p>
          <p>Gold Road</p>
          <p>Mumbai-400001</p>
          <p>Maharshtra</p>
          <p><i class="ln-phone2"></i>002-400004 / 9003434900</p>
          
      </div>
     </div>
            <div class="hoback" ng-style="{'background-image':'url(../img/hospital/2.jpg)'}">
      <div class="bg-layer bg-black"></div>
<div class="hos-name">
          <h4>Neque porro quisquam</h4>
          <p>221 Baker Street</p>
          <p>Gold Road</p>
          <p>Mumbai-400001</p>
          <p>Maharshtra</p>
          <p><i class="ln-phone2"></i>002-400004 / 9003434900</p>
          
      </div>
     </div>
  </div>

  </ion-content>
</ion-view>
