<ion-view view-title="Hospital">
   <ion-content class="has-footer">
      <div class="hospital">
         <div class="hoback" ng-repeat="hospital in hospitals|orderBy:'name'" ng-style="{'background-image':'url({{hospital.image | uploadpath}})'}">
            <div class="bg-layer bg-black" ng-if="!hospital.image"></div>
            <div class="overlay"></div>
            <div class="hos-name">
               <h4 ng-if="hospital.name">{{hospital.lname}}</h4>
               <p ng-if="hospital.address">{{hospital.address}}</p>
               <!-- <p ng-if="hospital.location">{{hospital.location}}</p> -->
               <!-- <p>Mumbai-400050</p>
               <p>Maharshtra</p> -->
               <p ng-if="hospital.phone"><i class="ln-phone2"></i>{{hospital.phone}}</p>
            </div>
         </div>
         <!-- <div class="hoback" ng-style="{'background-image':'url(img/hospital/2.jpg)'}">
            <div class="bg-layer bg-black"></div>
            <div class="hos-name">
               <h4>Seth GS Medical College and KEM Hospital</h4>
               <p>Acharya Donde Marg</p>
               <p>Parel</p>
               <p>Mumbai-400012</p>
               <p>Maharshtra</p>
               <p><i class="ln-phone2"></i>91-22-2413 6051 / 91-22-2414 3435</p>
            </div>
         </div>
         <div class="hoback" ng-style="{'background-image':'url(img/hospital/3.jpg)'}">
            <div class="bg-layer bg-black"></div>
            <div class="hos-name">
               <h4>Kokilaben Hospital</h4>
               <p>Rao Saheb Achutrao</p>
               <p>Patwardhan Marg, Four Bunglows</p>
               <p>Mumbai-400053</p>
               <p>Maharshtra</p>
               <p><i class="ln-phone2"></i>022 3066 6666</p>
            </div>
         </div> -->
      </div>
      <ion-infinite-scroll on-infinite="addMoreItems()" distance="25%" style="height:0px" ng-if="keepscrolling">
      </ion-infinite-scroll>
      <!-- <div class="center" ng-show="shownodata">
          <p>No Data Found</p>
      </div> -->
   </ion-content>
</ion-view>
