<ion-view view-title="Login">

    <ion-content>
        <div class="logo">
            <div class="text-center">
                <img src="img/logo.png">
            </div>
        </div>

        <div class="login-form">
            <div class="list login-user">
                <label class=" item-input">
                    <i class="icon ln-user"></i>
                    <input type="text" placeholder="Username">
                </label>
                <label class="item-input">
                    <i class="icon ln-lock"></i>
                    <input type="password" placeholder="Password">
                </label>
                <p class="login-forget pull-right">Forgot Password ?</p>
            </div>
        </div>
        <div class="login-footer">
            <button class="button button-block button-positive">
                Login
            </button>
            <div class="text-center">
                <p>- OR -</p>
            </div>
            <button class="button button-block button-positive-facebook">
                Facebook
            </button>
            <button class="button button-block button-positive-twitter">
                Twitter
            </button>
            <button class="button button-block button-positive-google">
                Google
            </button>
        </div>
        <div class="sign text-center">
            <span>Don’t have an account?<a href="#/user-signup">Sign Up</a></span>
        </div>
    </ion-content>
</ion-view>