<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-side">
            <div class="side-image">
            <div class="user-setting text-center">
               <div class="user-back" ng-style="{'background-image':'url(../img/user1.png)'}">

                </div>
                <h5 class="h5">Json Format</h5>
                <p class="p"><i class="ln-map-marker"></i>Mumbai, Maharashtra</p> 
            </div>
             
           </div>
        </ion-header-bar>
        <ion-content style="top:166px;" class="menus">
            <ion-list>
                      <ion-item menu-close ui-sref="app.home">
                    <i class="icon ln-home3 side-menu-i"></i>Home
                </ion-item>
                <ion-item menu-close ui-sref="app.register">
                    <i class="icon ln-register side-menu-i"></i>Register
                </ion-item>
                <ion-item menu-close ui-sref="app.hospital">
                    <i class="icon ln-first-aid side-menu-i"></i>Hospital
                </ion-item>
                <ion-item menu-close ui-sref="app.family">
                    <i class="icon ln-users2 side-menu-i"></i>Family Member
                </ion-item>
                <ion-item menu-close ui-sref="app.emergency">
                    <i class="icon ln-bus side-menu-i"></i>Emergency Donation
                    <span class="badge badge-positive">1</span>
                </ion-item>
                <ion-item menu-close ui-sref="app.needblood">
                    <i class="icon ln-bottle side-menu-i"></i>Need Blood
                </ion-item>
                <ion-item menu-close ui-sref="app.activity">
                    <i class="icon ln-accessibility side-menu-i"></i>Activity
                    <span class="badge badge-positive">1</span>
                </ion-item>
                <ion-item menu-close ui-sref="app.notification">
                    <i class="icon ln-bell side-menu-i"></i>Notification
                    <span class="badge badge-positive">3</span>
                </ion-item>
                <ion-item menu-close ui-sref="app.bout">
                    <i class="icon ln-man side-menu-i"></i>About Us
                </ion-item>
                <ion-item menu-close ui-sref="app.contact">
                    <i class="icon ln-contacts side-menu-i"></i>Contact
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>