<ion-view view-title="Need Blood">
   <ion-content class="has-footer">
      <div class="video">
         <div class="text-center m40">
            <h4 style="color:#E62739">Fill Your Requirements</h4>
         </div>
         <div class="login-form padding regi-user">
            <form name="myForm" novalidate>
               <div class="list login-user custom-border">
                  <label class="item item-input">
                     <input type="text" placeholder="Patient Name*" name="pname" ng-model="need.pname" required>
                  </label>
                  <p class="colpad" ng-if="myForm.pname.$error.required && myForm.pname.$touched">Patient name is required</p>
                  <label class="item item-input">
                     <input type="text" placeholder="Relation with Patient" name="rwp" ng-model="need.rwp" required>
                  </label>
                  <p class="colpad" ng-if="myForm.rwp.$error.required && myForm.rwp.$touched">Relation with Patient is required</p>
                  <label class="item item-input" class="nbtp">
                     <input type="text" placeholder="Hospital Name" name="hospname" ng-model="need.hospname" required>
                  </label>
                  <p class="colpad" ng-if="myForm.hospname.$error.required && myForm.hospname.$touched">Hospital Name is required</p>
                  <label class="item item-input" class="nbtp">
                     <input type="text" placeholder="Area" ng-model="need.area">
                  </label>
                  <label class="item item-input" class="nbtp">
                     <input type="tel" placeholder="Pincode" name="pincode" ng-model="need.pincode" required ng-minlength="6" ng-maxlength="6" maxlength="6" only-digits ng-trim="false">
                  </label>
                  <p class="colpad" ng-if="myForm.pincode.$error.required && myForm.pincode.$touched">Pincode is required</p>
                  <p class="colpad" ng-if="(myForm.pincode.$error.minlength || myForm.pincode.$error.maxlength) && myForm.pincode.$touched">Please enter valid pincode</p>
                  <label class="item item-input" class="nbtp">
                     <input type="tel" placeholder="Number of Bottle - Unit" name="nob" ng-model="need.nob" required only-digits>
                  </label>
                  <p class="colpad" ng-if="myForm.nob.$error.required && myForm.nob.$touched">Number of Bottle is required</p>
                  <label class="item item-input item-select">
                     <div class="input-label">
                        Blood Type
                     </div>
                     <select name="btype" ng-model="need.bloodtype" required>
                        <option value="">Please Select</option>
                        <option value="Fresh Blood">Fresh Blood</option>
                        <option value="Whole Blood">Whole Blood</option>
                        <option value="Plasma (FFP)">Plasma (FFP)</option>
                        <option value="RDP">RDP</option>
                        <option value="SDP">SDP</option>
                        <option value="Packed Cells">Packed Cells</option>
                        <option value="Semi Packed Cells">Semi Packed Cells</option>
                        <option value="White Cell">White Cell</option>
                     </select>
                  </label>
                  <p class="colpad" ng-if="myForm.btype.$error.required && myForm.btype.$touched">Blood Type is required</p>
                  <label class="item item-input item-select">
                     <div class="input-label">
                        Blood Group
                     </div>
                     <select name="bloodgrp" ng-model="need.bloodgroup" required>
                        <option value="">Please Select</option>
                        <option value="A+">A +</option>
                        <option value="A-">A -</option>
                        <option value="B+">B +</option>
                        <option value="B-">B -</option>
                        <option value="AB+">AB +</option>
                        <option value="AB-">AB -</option>
                        <option value="O+">O +</option>
                        <option value="O-">O -</option>
                     </select>
                  </label>
                  <p class="colpad" ng-if="myForm.bloodgrp.$error.required && myForm.bloodgrp.$touched">Blood Group is required</p>
                  <label class="item item-input">
                     <input type="text" placeholder="Donor Id" name="donorid" ng-model="need.donorid" required>
                  </label>
                  <p class="colpad" ng-if="myForm.donorid.$error.required && myForm.donorid.$touched">Donor Id is required</p>
                  <label class="item item-input" class="nbtp">
                     <input type="tel" placeholder="Mobile Number" name="mobile" ng-model="need.mobile" required ng-minlength="10" ng-maxlength="10" maxlength="10" only-digits ng-trim="false">
                  </label>
                  <p class="colpad" ng-if="myForm.mobile.$error.required && myForm.mobile.$touched">Mobile Number is required</p>
                  <p class="colpad" ng-if="(myForm.mobile.$error.minlength || myForm.mobile.$error.maxlength) && myForm.mobile.$touched">Please enter valid mobile</p>
                  <label class="item item-input" style="display: block;border-bottom:none;">
                     <span class="input-label">Comment</span>
                     <div class="m-rg">
                        <textarea rows="6" cols="30" style="border: 1px solid #ddd;" class="padding" ng-model="need.comment"></textarea>
                     </div>
                  </label>
               </div>
               <div class="text-center m12">
                  <button class="button primary-btn button-positive" ng-click="requestBlood();" ng-disabled="myForm.$invalid">
                     Request
                  </button>
               </div>
            </form>
         </div>
      </div>
   </ion-content>
</ion-view>
