<ion-view view-title="Detail">
    <ion-content class="has-footer">
        <div class="det-img">
            <img src="img/hospital/5.jpg" class="full-image">
        </div>
        <div class="noti-detail padding-horizontal">

            <h4>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h4>
            <p class="color">November 18, 2015</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <div class="share">
            <div class="row">
                <div class="col col-50">
                    <span class="spans"><i class="ln-clock3"></i>2 Min ago</span>
                </div>
              <div class="col col-50">
                    <div class="lis">
                        <ul class="pull-right">
                               <li>
                                 <span><i class="ion-android-share"></i>23</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
