<ion-view view-title="Detail">
    <ion-content class="has-footer">
        <div class="det-img">
            <img ng-src="{{notification.image | uploadpath}}" class="full-image">
        </div>
        <div class="noti-detail padding-horizontal">
            <h4>{{notification.title}}</h4>
            <p class="color">{{notification.timestamp|date:"longDate"}}</p>
            <p>{{notification.content}}</p>
        </div>
        <div class="share">
            <div class="row">
                <div class="col col-50">
                    <span class="spans"><i class="ln-clock3"></i>{{notification.timestamp|timeago}}</span>
                </div>
                <div class="col col-50">
                    <div class="lis">
                        <ul class="pull-right">
                            <li>
                                <span><i class="ion-android-share"></i>23</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
