<ion-view view-title="Notification">
    <ion-content>
        <div class="noti-list ">
            <div class="list" ng-repeat="noti in notification">
                <a class="item item-avatar" ui-sref="app.notidetail({id:noti._id})">
                    <div class="noti-img" ng-style="{'background-image':'url({{noti.image|uploadpath}})'}"></div>
                    <h2>{{noti.title}}</h2>
                    <p>{{noti.content}}</p>
                    <span class="span"><i class="ln-clock3"></i>{{noti.timestamp|timeago}}</span>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
