<ion-view>
  <ion-content>
<div class="pop text-center">
 <div class="popup-body">
       <h4 style="margin-bottom:5px;">Successfull !</h4>
    <p>Your Notification Has been To Send This Number 8796622XXX</p>
       <!-- <h4 style="margin-bottom:5px;">Submit Your OTP !</h4>
       <div class="list login-user m16">
          <label class="item item-input">
             <input type="Number">
          </label>
       </div> -->
 </div>
<div class="popup-footer">
  <!-- <button class="button primary-btn button-positive m12" ng-click="showFailed()">
     Submit
  </button> -->
  <button class="button primary-btn button-positive m12" ng-click="closeOTP()">
     Submit
  </button>
</div>
</div>
  </ion-content>
</ion-view>
