<ion-view ng-controller="RegisterCtrl">
   <ion-content>
      <div class="pop text-center">
         <div class="popup-body nopad">
            <h4 style="margin-bottom:5px;">Confirm !</h4>
            <p>OTP will be sent to {{mob}}</p>
            <!-- <h4 style="margin-bottom:5px;">Submit Your OTP !</h4>
       <div class="list login-user m16">
          <label class="item item-input">
             <input type="Number">
          </label>
       </div> -->
         </div>
         <div class="popup-footer">
            <!-- <button class="button primary-btn button-positive m12" ng-click="showFailed()">
     Submit
  </button> -->
            <button class="button primary-btn button-positive m12" ng-click="closeOTP(false)">
               Cancel
            </button>
            <button class="button primary-btn button-positive m12" ng-click="closeOTP(true)">
               Ok
            </button>
         </div>
      </div>
   </ion-content>
</ion-view>
