<ion-view view-title="Profile">
  <div class="tabs-striped tabs-background-positive tabs-color-light">
     <div class="tabs c-tab">
        <a class="tab-item {{classa}}" ng-click="tabchange('new',1)">
           <span>Profile</span>
        </a>
        <a class="tab-item {{classb}}" ng-click="tabchange('already',2)">
           <span>Direct Donate</span>
        </a>
     </div>
  </div>
    <ion-content class="has-footer has-tabs-top">
        <div class="video" ng-show="tab=='new'">
          <div class="pro-back bkp">
              <div class="user-back post" ng-style="{'background-image':'url(img/user1.png)'}">

              </div>
              <button class="button button-small  button-assertive posts">
                  +
              </button>
          </div>
          <div class="login-form m40">
              <div class="list regi-user">
                  <label class="item item-input">
                      <input type="text" placeholder="First Name">
                  </label>

                  <label class="item item-input">
                      <input type="text" placeholder="Middle Name">
                  </label>
                  <label class="item item-input">
                      <input type="text" placeholder="Last Name">
                  </label>
                  <label class="item item-input">
                      <input type="text" placeholder="Family id">
                  </label>
                  <label class="item item-input item-select">
                      <div class="input-label">
                          Gender
                      </div>
                      <select>
                          <option selected>Male</option>
                          <option>Female</option>
                          <option>Other</option>
                      </select>
                  </label>
                  <label class="item item-input item-select">
                      <div class="input-label">
                          Blood Group
                      </div>
                      <select>
                          <option selected>A</option>
                          <option>B</option>
                          <option>O</option>
                      </select>
                  </label>
                  <label class="item item-input">
                      <input type="text" placeholder="Birth Date">
                  </label>
                  <label class="item item-input">
                      <input type="number" placeholder="Age">
                  </label>
                  <label class="item item-input">
                      <input type="text" placeholder="Village">
                  </label>
                  <label class="item item-input">
                      <input type="text" placeholder="Address 1">
                  </label>
                  <label class="item item-input">
                      <input type="text" placeholder="Address 2">
                  </label>
                  <label class="item item-input">
                      <input type="text" placeholder="Address 3">
                  </label>
                  <label class="item item-input">
                      <input type="text" placeholder="Area">
                  </label>
                  <label class="item item-input">
                      <input type="text" placeholder="City">
                  </label>
                  <label class="item item-input">
                      <input type="number" placeholder="Pincode">
                  </label>
                  <label class="item item-input">
                      <input type="number" placeholder="Mobile Number">
                  </label>
              </div>
              <div class="login-footer m40 text-center">
                  <button class="button primary-btn button-positive" ng-click="showRegi()">
                      Edit
                  </button>
                  <button class="button primary-btn button-positive" ng-click="showRegi()">
                      Cancel
                  </button>
              </div>

          </div>
        </div>
<div class="second" ng-show="tab=='already'">
    <div class="list regi-user">
      <label class="item item-input">
          <input type="text" placeholder="Full Name">
      </label>

      <label class="item item-input">
          <input type="Number" placeholder="Donor ID">
      </label>
    </div>
    <div class="login-footer m40 text-center">
        <button class="button primary-btn button-positive">
          Upload Image
        </button>

    </div>
</div>
    </ion-content>
</ion-view>
