<ion-view view-title="Register">
   <div class="tabs-striped tabs-background-positive tabs-color-light ">
      <div class="tabs c-tab">
         <a class="tab-item {{classa}}" ng-click="tabchange('new',1)">
            <span>New User</span>
         </a>
         <a class="tab-item {{classb}}" ng-click="tabchange('already',2)">
            <span>Already Member</span>
         </a>
      </div>
   </div>
   <ion-content class="has-tabs-top">
      <div class="video" ng-show="tab=='new'">
         <div class="pro-back ">
            <div class="user-back post" ng-style="{'background-image':'url(img/user1.png)'}">
            </div>
            <button class="button button-small  button-assertive posts">
               +
            </button>
         </div>
         <div class="login-form m40">
            <div class="list regi-user">
               <label class="item item-input">
                  <input type="text" placeholder="First Name*">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Middle Name*">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Last Name*">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Family id">
               </label>
               <label class="item item-input item-select">
                  <div class="input-label">
                     Gender*
                  </div>
                  <select>
                     <option selected>Male</option>
                     <option>Female</option>
                     <option>Other</option>
                  </select>
               </label>
               <label class="item item-input item-select">
                  <div class="input-label">
                     Blood Group*
                  </div>
                  <select>
                     <option selected>A +</option>
                     <option>A -</option>
                     <option>B +</option>
                     <option>B -</option>
                     <option>AB +</option>
                     <option>AB -</option>
                     <option>O +</option>
                     <option>O -</option>
                  </select>
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Birth Date*">
               </label>
               <label class="item item-input">
                  <input type="number" placeholder="Age*">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Village">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Address 1*">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Address 2*">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Address 3*">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="Area*">
               </label>
               <label class="item item-input">
                  <input type="text" placeholder="City*">
               </label>
               <label class="item item-input">
                  <input type="number" placeholder="Pincode*">
               </label>
               <label class="item item-input">
                  <input type="number" placeholder="Mobile Number*">
               </label>
            </div>
            <div class="login-footer m40 text-center">
               <button class="button primary-btn button-positive" ng-click="showRegi()">
                  Submit
               </button>
            </div>
         </div>
      </div>
      <div class="video" ng-show="tab=='already'">
         <div class="already text-center m40">
            <h4 style="color:#E62739">Enter Your Donor Id</h4>
            <div class="login-form padding regi-user">
               <div class="list login-user">
                  <label class="item item-input">
                     <input type="text" placeholder="Donor Id">
                  </label>
               </div>
            </div>
            <button class="button primary-btn button-positive m12" ng-click="showFailed()">
               Submit
            </button>
         </div>
      </div>
   </ion-content>
</ion-view>
