<ion-view>

    <ion-content>
        <div class="logo">
            <div class="text-center">
                <img src="img/logo.png">
            </div>
        </div>

        <div class="login-form">
                 <div class="list login-user">
                    <label class=" item-input">
                        <i class="icon ln-user"></i>
                        <input type="text" placeholder="Name">
                    </label>
                    <label class=" item-input">
                        <i class="icon ln-envelope"></i>
                        <input type="email" placeholder="Email">
                    </label>
                    <label class=" item-input">
                        <i class="icon ln-lock"></i>
                        <input type="password" placeholder="Password">
                    </label>
                    <label class=" item-input">
                        <i class="icon ln-gift"></i>
                        <input type="text" onfocus="(this.type='date')" placeholder="Birth Date">
                    </label>
                </div>
        </div>
        <div class="login-footer m100">
            <button class="button button-block button-positive">
                Create
            </button>
        </div>
        <div class="sign text-center">
            <span>Don’t have an account?<a href="#/login">Sign In</a></span>
        </div>
    </ion-content>
</ion-view>